@media (max-width:1200px) {
    .container{
        width: 100%;
        padding: 0 5rem;
    }
}
@media (max-width:991px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  /* grid layouts */
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
    .d-md-none{
        display: none;
    }
    .welcome {
        display: none;
      }
      .contact {
        display: none;
      }
      .icons {
        text-align: center;
        margin: auto;
        width: 100%;
      }
      .icon_contact {
        width: 100%;
      }
      #menuBar {
        display: inline-block;
      }
      .mainFeaturedWrapper {
        flex-flow: column;
      }
      #MobileMenuItems{
        display: inline-block;
      }
      #MobileMenuItems {
        position: absolute;
        top: 153px;
        left: -100rem;
        z-index: 99999;
        width: 50%;
        background: white;
        padding: 2rem;
        box-shadow: 0 0 2rem #000000 100vw;
      }
      #MobileMenuItems.MobileMenuActive{
        left: 0rem;
      }
}
@media (max-width:768px) {
  
}
@media (max-width: 576px){
   /* grid layouts */
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
  .content h2 {
    font-size: 2.5rem;
    color: white;
    padding: 0 1rem;
  }
  .freatured_gap {
    flex-flow: column;
  }
  .newsletter {
    padding: 1rem;
  }
  .newsletter .input_group input[type="submit"] {
    padding: 1rem 1.5rem;
  }
  .product .heading h2 {
    font-size: 2rem;
  }
  .Home_slider .slide .content h2 {
    font-size: 2rem;
  }
  .header_middle .logo img {
    height: 4rem;
  }
  #MobileMenuItems {
    width: 100%;
  }
  #MobileMenuItems {
    top: 140px;
  }
}
@media (max-width: 400px){
  .content h2 {
    font-size: 2rem;
    color: white;
    padding: 0 1rem;
  }
}